
/*
.profile{
    border: 1px solid black;
    margin: 40px;
}
.profileContainor{
  width: 100%;
  border: 1px solid blue;
}
.pro{
    border: 1px solid red;
    float: right;
    width: 20%;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 250px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 200px;
}

.pro img{
  width: 200px;
  height: 200px;
} 

*/

